<div class="border-t-2 bottom-0 w-full mt-24 px-6">
  <div class="pt-6 text-center text-xs">
    The project and people involved are not sponsored, affiliated or endorsed by
    EA/Respawn/EAC in any way. This is made by a player, for players. All
    images, icons and trademarks belong to their respective owner. Apex Legends
    is a registered trademark of EA. Game assets, materials and icons belong to
    Electronic Arts. Be aware, EA and Respawn do not endorse the content of this
    website nor are responsible for this website content.
  </div>
  <div class="py-6 text-center text-xs">
    Data provided by Apex Legends Status:
    <a href="https://apexlegendsstatus.com" class="italic"
      >https://apexlegendsstatus.com</a
    >
    <div class="py-6 text-center text-xs">Made by @BVLINT</div>
  </div>
</div>
