<div class="flex flex-col">
  <h1 class="text-8xl mb-2 text-center">The Predators</h1>
  <h2 class="text-4xl mb-12 text-center italic">Everyone fears them</h2>
  <img
    src="https://media.tenor.com/sP4DJUlmBOoAAAAd/blisk-titanfall.gif"
    alt="Blisk Titanfall GIF"
    class="h-96 mx-auto"
  />

  <div class="mx-64 text-justify">
    <div class="text-3xl text-center my-6 font-bold">
      Total Predators and Masters on PC:
      <div class="text-red-500 text-2xl">
        {{ predsData.RP.PC.totalMastersAndPreds }}
      </div>
      <div class="text-2xl">
        Current Predator Point Cap:
        <div class="text-red-500 text-2xl">{{ predsData.RP.PC.val }} RP</div>
      </div>
    </div>
    <div class="text-3xl text-center my-6 font-bold">
      Total Predators and Masters on Xbox:
      <div class="text-red-500 text-2xl">
        {{ predsData.RP.X1.totalMastersAndPreds }}
      </div>
      <div class="text-2xl">
        Current Predator Point Cap:
        <div class="text-red-500 text-2xl">{{ predsData.RP.X1.val }} RP</div>
      </div>
    </div>
    <div class="text-3xl text-center my-6 font-bold">
      Total Predators and Masters on PlayStation:
      <div class="text-red-500 text-2xl">
        {{ predsData.RP.PS4.totalMastersAndPreds }}
      </div>
      <div class="text-2xl">
        Current Predator Point Cap:
        <div class="text-red-500 text-2xl">{{ predsData.RP.PS4.val }} RP</div>
      </div>
    </div>
    <div class="text-sm italic text-center">Refreshes every second.</div>
  </div>
</div>
