<div class="items-center justify-center px-12">
  <form
    [formGroup]="playerForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col px-32 py-16"
  >
    <label for="playerName" class="text-6xl">Player Name</label>
    <label for="playerName" class="text-sm pt-3 italic"
      >Origin/Xbox/PlayStation username</label
    >
    <p class="py-6">
      <input
        type="text"
        id="playerName"
        formControlName="playerName"
        class="text-black w-64 h-12 px-3"
      />
    </p>
    <label for="platform" class="text-5xl">Platform</label>
    <p class="py-6">
      <select
        id="platform"
        formControlName="platform"
        class="text-black w-64 h-12 px-2"
      >
        <option value="">Select a platform</option>
        <option value="PC">PC</option>
        <option value="X1">Xbox</option>
        <option value="PS4">PlayStation</option>
      </select>
    </p>
    <button
      type="submit"
      [disabled]="playerForm.invalid"
      class="w-32 rounded-md bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
    >
      Submit
    </button>
  </form>
  <div
    *ngIf="playerData.global.name"
    class="grid grid-cols-3 gap-4 px-32 py-16 border-2 font-mono rounded-md bg-gradient-to-r from-red-900 to-black"
  >
    <div class="text-4xl">
      <div class="text-6xl pb-12">{{ playerData.global.name }}</div>
      <div>Level: {{ playerData.global.level }}</div>
      <div>Level Prestige: {{ playerData.global.levelPrestige }}</div>
      <div class="py-6">
        Currently:
        <b
          [ngClass]="{
            'text-green-500':
              playerData.realtime.currentStateAsText === 'Online',
            'text-red-500': playerData.realtime.currentStateAsText === 'Offline'
          }"
          >{{ playerData.realtime.currentStateAsText }}</b
        >
      </div>
      <div *ngIf="playerData.global.name === 'zncpwnyou'">
        <img src="assets/zncpwnyou.png" class="h-64 mx-auto" />
      </div>
      <div *ngIf="playerData.global.name === 'lilpityke420'">
        <img src="assets/lilpityke420.jpg" class="h-64 mx-auto" />
      </div>
      <div *ngIf="playerData.global.name === 'komlo'">
        <img src="assets/komloka.png" class="h-64 mx-auto" />
      </div>
      <div *ngIf="playerData.global.name === 'nerpi_'">
        <img src="assets/gigachad.jpg" class="h-64 mx-auto" />
      </div>
    </div>
    <div class="text-4xl text-center">
      <div>
        Rank: {{ playerData.global.rank.rankName }}
        {{ playerData.global.rank.rankDiv }}
      </div>
      <div>{{ playerData.global.rank.rankScore }} RP</div>
      <img [src]="playerData.global.rank.rankImg" class="mx-auto py-6" />
    </div>
    <div class="text-4xl text-center">
      <div>Legend: {{ playerData.legends.selected.LegendName }}</div>
      <img
        [src]="playerData.legends.selected.ImgAssets.icon"
        class="h-64 mx-auto py-6"
      />
      <div *ngIf="playerData.legends.selected.data[0].name" class="text-3xl">
        <div>
          {{ playerData.legends.selected.data[0].name }}:
          {{ playerData.legends.selected.data[0].value }}
        </div>
        <div>
          {{ playerData.legends.selected.data[1].name }}:
          {{ playerData.legends.selected.data[1].value }}
        </div>
        <div>
          {{ playerData.legends.selected.data[2].name }}:
          {{ playerData.legends.selected.data[2].value }}
        </div>
      </div>
      <div class="text-2xl pt-6">
        <div>Skin: {{ playerData.legends.selected.gameInfo.skin }}</div>
      </div>
    </div>
  </div>
</div>
