<div class="flex flex-col">
  <div class="text-8xl mb-12 text-center">Map Rotations</div>
  <div class="mx-64 text-justify">
    <div
      class="text-4xl bg-gradient-to-r from-red-600 to-stone-500 rounded-lg h-16 flex items-center justify-center"
    >
      Ranked
    </div>
    <div class="text-3xl text-center my-12 font-bold text-red-500">
      {{ mapsData.ranked.current.map }}
      <p class="text-white text-2xl">
        {{ mapsData.ranked.current.remainingTimer }}
      </p>
      <div class="flex justify-center my-6">
        <img
          [src]="mapsData.ranked.current.asset"
          class="h-64 brightness-200 saturate-150"
        />
      </div>
    </div>
    <div
      class="text-4xl bg-gradient-to-r from-red-600 to-stone-500 rounded-lg h-16 flex items-center justify-center"
    >
      Pubs
    </div>
    <div class="text-3xl text-center my-12 font-bold text-red-500">
      {{ mapsData.battle_royale.current.map }}
      {{ mapsData.battle_royale.current.remainingTimer }}
      <div class="flex justify-center my-6">
        <img
          [src]="mapsData.battle_royale.current.asset"
          class="h-64 brightness-200 saturate-150"
        />
      </div>
    </div>
    <div
      class="text-4xl bg-gradient-to-r from-red-600 to-stone-500 rounded-lg h-16 flex items-center justify-center"
    >
      Mixed Playlist
    </div>
    <div class="text-3xl text-center my-12 font-bold text-red-500">
      {{ mapsData.ltm.current.eventName }}:
      {{ mapsData.ltm.current.map }}
      {{ mapsData.ltm.current.remainingTimer }}
      <div class="flex justify-center my-6">
        <img
          [src]="mapsData.ltm.current.asset"
          (error)="handleImageError($event)"
          class="h-64 brightness-200 saturate-150"
        />
      </div>
    </div>
  </div>
</div>
