<nav
  class="mx-3 flex max-w-screen items-center justify-center p-0 lg:px-8 hidden lg:flex lg:gap-x-12 text-center border-b-2"
  id="fancymenu"
>
  <a
    class="link text-4xl hover:text-red-500 p-6 rounded-md flex flex-row"
    routerLink="/home"
  >
    <img src="assets/ApexPredators_Logo.webp" class="h-10 mr-6" /> Home
  </a>
  <a
    class="link text-4xl hover:text-red-500 p-6 rounded-md"
    routerLink="/maprotation"
  >
    Map Rotation
  </a>
  <!-- <a class="link text-4xl hhover:text-red-500 p-6" routerLink="/craftrotation"> Craft Rotation </a> -->
  <a
    class="link text-4xl hover:text-red-500 p-6 rounded-md"
    routerLink="/predators"
  >
    The Predators
  </a>
  <a
    class="link text-4xl hover:text-red-500 p-6 rounded-md"
    routerLink="/playerstats"
  >
    Player Statistics
  </a>
  <a
    class="link text-4xl hover:text-red-500 p-6 rounded-md"
    routerLink="/storerotation"
  >
    Store Rotation
  </a>
</nav>
