<div class="min-h-min mb-10 overflow-hidden relative" id="fancymenu">
  <a class="link text-4xl" routerLink="/home"> Home </a>
  <a class="link text-4xl" routerLink="/maprotation"> Map Rotation </a>
  <!-- <a class="link text-4xl" routerLink="/craftrotation"> Craft Rotation </a> -->
  <a class="link text-4xl" routerLink="/predators"> The Predators </a>
  <a class="link text-4xl" routerLink="/playerstats"> Player Statistics </a>
  <a class="link text-4xl" routerLink="/storerotation"> Store Rotation </a>
</div>
